/*css 重置*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,button,textarea,p,th,td {padding:0;margin:0;}
fieldset,img{border:0;}
em,th,optgroup {font-style:normal;font-weight:normal;}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
input,button,textarea,select,optgroup,option {font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
ol,ul,li {list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
body{font-size:16px;font-family:"Hiragino Sans GB",Helvetica,"Microsoft YaHei",Simsun,"Droid Sans Fallback",sans-serif;-webkit-tap-highlight-color:rgba(0,0,0,0);}
[hidden]{display:none;}


